# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pr:
- master

jobs:
- job: azure_docker_integration
  timeoutInMinutes: 120

  pool:
    vmImage: 'ubuntu-latest'

  variables:
    dockerId: tbillah
    imageName: tbillah/entry_point
    user: tb571
    wd: /home


  steps:
  - task: Docker@2
    displayName: Login to Docker Hub
    inputs:
      command: login
      containerRegistry: dockerHub


  - task: CopyFiles@2
    displayName: 'Copy test configFile'
    inputs:
      SourceFolder: '$(Build.SourcesDirectory)'
      Contents: '**/structure-test.yaml'
      TargetFolder: '$(Agent.BuildDirectory)'

  
  - task: CopyFiles@2
    displayName: 'Copy container structure test'
    inputs:
      SourceFolder: '$(Build.SourcesDirectory)'
      Contents: '**/container-structure-test'
      TargetFolder: '/usr/bin/'



  - script: |
        docker build -t $(imageName) -f Dockerfile.entrypoint --build-arg USER=$(user) --build-arg CWD=$(wd) .
        # docker push $(imageName)
    displayName: 'Build a docker image'
    failOnStderr: true


  - task: Docker@2
    displayName: Push image to Docker Hub
    inputs:
      command: push
      containerRegistry: dockerHub
      repository: $(imageName)
      tags: 'latest'
      
 
  - script: |
        container-structure-test --image $(imageName) --configFile /home/pnlbwh/equality-test.yaml
    displayName: 'Test the docker image'
    failOnStderr: true


